@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slide-in 0.3s ease-out;
  }

  @keyframes infinite-progress {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .animate-infinite-progress {
    animation: infinite-progress 1.5s linear infinite;
  }
}
